.news_block_container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.news_block_preview {
    width: 100%;
    display: grid;
    gap: 1vw;

    grid-template-columns:repeat(3, 0.1fr);
    place-items: center;
}